

.title{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 50px;
    display: inline-block;
    letter-spacing: 2px;
    color: #fff;
}

.links{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    margin-right: 22px;
    text-indent: 1.5px;
    letter-spacing: 2px;
    color: #fff;

    transition: text-shadow 0.15s;
    transition: color 0.15;
}

.links:hover{
    color: red;
    cursor: pointer;
    text-shadow: 1px 1px white;
    font-size: 25px;


}

.background{
    background-color: rgb(22, 5, 39);
    padding-top: 8px;
    padding-bottom: 8px;
}

.navbar{
    position: fixed;
    top: 0px;

    right: 0px;
    left: 0px;
}

.welcome-user{
    color: #fff;
    font-size: 20px;
    padding-left: 22px;
}